<div class="row">
    <div class="column">
      <form [formGroup]="contactForm" >
        <label for="firstname"> First Name </label>
        <input (keyup)="prettyformupdater()" name="firstname" formControlName="firstName" />
        <label for="age"> Age </label>
        <input (keyup)="prettyformupdater()" name="age" formControlName="age" />
        <label for="telephone"> Telephone </label>
        <input  (keyup)="prettyformupdater()" name="telephone" formControlName="telephone"/>
        <label for="twitter">Twitter </label>
        <input (keyup)="prettyformupdater()" name="twitter" formControlName="twitter"/>
      </form>
      <pre>{{prettyFormValues}}</pre>
      <button (click)="saveContact()">SAVE</button>
    </div>
    <div class="column">
    
        <h3>Contact List</h3>

        @if (contactList.length > 0) {
            @for (item of contactList; track item.firstName) {
                <div class="card">

                <p>{{item.firstName}}</p>
                <p>{{item.age}}</p>
                <p>{{item.telephone}}</p>
                <p>{{item.twitter}}</p>
            
                </div>
            }
        }
  </div>